.title {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;

}

.card {
    text-decoration: none;
}

.desc {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(112, 112, 112);
}

.underline {
    text-decoration: none;
}

.subtitle {
    text-align: center;
    text-decoration: none;
    margin: 15PX AUTO;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--textColor);
}

.imgC {
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

.imgC:hover {
    border: 3px solid var(--mainTextColor);
    border-radius: 10px;
    transform: scale(1.05);
    transition: ease-in-out .2s;
}

.imgbC {
    transform: rotate(2deg);
    border-radius: 3px;
    margin: 20px 0px;
    transition: transform 0.3s;
}

.imgbC:hover {
    transform: scale(1.05);
    border: 2px dashed white;

}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.Ccard:nth-child(odd) {
    margin-top: 40px;
    margin-bottom: 0;
}

.Ccard:nth-child(even) {
    margin-bottom: 40px;
    margin-top: 0;
}

.btn{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    position: relative;
    top: -15px;
    cursor: pointer;
}
.bcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
@media (max-width:768px) {
    .container {
        flex-wrap: nowrap;
        gap: 5px;
    }
    .title{
        margin-top: 5px;
    }
    
    .imgC {
        width: 144px;
        height: 210px;
    }

    .btn {
        font-size: 1.5rem;
        top: -17px;
    }
    .imgbC{
        height: 197px;
        width: 124px;
        margin: 0px;
    }
  
    .bcontainer{
       gap: 0px;
    }
    .Ccard{
        margin: 5px !important
    }
}

@media (max-width:600px) {}

@media (max-width:450px) {
.imgC {
        width: 170px;
        height: 236px;
    }
}

@media (max-width:393px) {
.imgC {
     width: 163px;
     height: 225px;
    }
}

@media (max-width:375px) {
.imgC {
     width: 144px;
     height: 210px;
     }
}
