* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background: white;
  --backgroundLinearGradiant: linear-gradient(91deg, #fffef9, #d9dfe9, #f7faff, #fff9ff);
  --DarkLinearGradiant: linear-gradient(91deg, #ebe4e4, #d0d7e2, #e8ecf3, #eee6ee);
  --backgroundtransparent: rgba(184, 184, 184, 0.459);
  --secondColor:#c0c0c0;
  --ProductTransparent: rgba(153, 153, 153, 0.204);
  --transparentBakground: rgba(153, 153, 153, 0.204);
  --Micon:#1f1f1f1c;
  --thirdcolor:rgb(231, 231, 231,1);
  --footer:rgb(241, 241, 241);
  --mainTextColor:#3a0117;
  --textColor:#2b2b2b;
  --foreground: black;
  --buttomMenu:#d8d8d8;
  --Menubackground:black;
  --hero:none;
  --heroMobile:#fff3e3b4;
  --herohoverd:rgba(189, 189, 189, 0.541);
  --heroblure:blur(20px);
  --Mainblure:blur(100px);
  --Secondblure: blur(50px);
  --button: #a8a8a862;
  --border:#e7e7e7;
  --filter:none;
  --selection:#5f5e5e;
  --menuboxshadow:0px 2px 37px var(--foreground) ;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--backgroundLinearGradiant);
}
::selection {
  background-color: var(--selection);
  color: white
}

::-webkit-scrollbar {
  height: .2rem;
  width: .5rem;
  color: red;
  background-color: rgb(214, 214, 214);
  border-radius: 1px;
  
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(91deg, #0d0c07, #08080e, #0d0a11, #0d090d);;
  padding: 10px;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 107, 107)
}

[data-theme='dark'] {
  --background: #2422224a;
  --backgroundtransparent: rgb(58 58 58 / 47%);
  --ProductTransparent:#3e3e3e34;
  --transparentBakground: #1b1a1a4a;
  --mainTextColor: #8d6c00;
  --secondColor: rgba(33, 33, 33, 1);
  --Micon: rgb(33 33 33 / 59%);
  --thirdcolor: rgb(24, 24, 24,1);
  --footer: rgb(15, 15, 15);
  --textColor: white;
  --foreground: white;
  --hero: none;
  --buttomMenu: #161616;
  --heroMobile:#212121e0;
  --herohoverd: #212121d2;
  --border: #424242;
  --button: #42424217;
  --filter: contrast(0);
  --selection:#30283b;
  --menuboxshadow:0px 25px 37px var(--foreground);
    /*----------------Box Shadow -------------*/
  --boxShadow:inset rgb(133 133 133 / 40%) 20px 19px 14px,
    rgb(73 73 73 / 30%) 4px 2px 6px 0px,
    rgb(39 39 39 / 20%) 1px -2px 0px 0px;
  --ProductsboxShadow:rgb(73 73 73 / 30%) 5px 12px 6px 0px;
  /*----------------Blur Effects -------------*/
  --Menubackground:white;
  --heroblure: blur(200px);
  --Mainblure: blur(100px);
  --Secondblure: blur(200px);
  /*---------------Gradiant Color -----------*/
  --backgroundLinearGradiant: linear-gradient(91deg, #0d0c07, #08080e, #0d0a11, #0d090d);
  --DarkLinearGradiant: linear-gradient(91deg, #0f0e08, #0b0b13, #0e0b13, #130d13);
 /*---------------Mobile Gradiant Color -----------*/
  --MobilelinearColor:linear-gradient(91deg, rgb(13 12 7 / 62%), rgb(8 8 14 / 73%), rgb(13 10 17 / 71%), rgb(13 9 13 / 89%));
}