.updateProfile{
    display: flex;
    gap: 10px;
    margin: 50px auto;
    text-align: center;
    padding: 10px 10px;
    background-color: var(--backgroundtransparent);
    max-width: 450px;
    height: auto;
    transition: ease-in-out .5s;
    border-radius: 10px;
    border: 3px solid rgb(119, 119, 119);
}
.btn {
    background-color: #161616;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}
@media (max-width:768px) {
    .btn {
            width: 74%;
            margin-left: 44px;
        }
  .updateProfile{
    width: 345px;
  }
  .updateProfile {
      flex-direction: column;
  }
}

@media (max-width:450px) {}

@media (max-width:403px) {}

@media (max-width:393px) {}

@media (max-width:365px) {}